* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    padding-top: 120px;
    background: white;
}

          /* header section code   */

.header {
    background: black;
    padding: 20px 5%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #d8a705 6px solid;
}

.header-title {
    font-size: 2.5em;
    color: white;
    transition: color 0.5s ease, transform 0.3s ease;
}

.header-title:hover {
    color: #d8a705;
    transform: scale(1.05);
    
}

.nav-links a {
    color: white;
    margin-left: 20px;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}
.nav-links a:hover {
    color: #d8a705;
    font-size: 1.3em;
    transform: scale(1.05);
    
}

  
          /*   section code     */

section {
   
    scroll-behavior: smooth;
    scroll-margin-top: 140px;
    
}

         /* home section code   */

.home {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 50px 5% 50px 5%;
    color: black;
    margin: 30px 30px 50px 82px;
   
}
.home-img {
    flex: 0 0 auto;
    flex-shrink: 0;
    margin: 0px 26px 16px;
    text-align: center;
}
.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #d8a705;
    box-shadow: 0 0 10px  #b18907,
                0 0 15px  #d8a705,
                0 0 35px  #d8a705;
   
}

.home-img img:hover {
    transform: scale(1) translateY(-15px);
    box-shadow: 0 0 25px  #b18907,
                0 0 40px  #d8a705,
                0 0 50px  #d8a705;

}

.home-content{
    max-width: 900px;   
    padding: 2em 3em 0em 0em;
} 
.home-content h1 {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1.2;
        margin: 0px;
        
    }   
.home-content h3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.2;
        margin: 0px;
    }    
.home-content h3:nth-of-type(2) {
       margin-bottom: 0.8rem;
    }
span.multiple-text {
        color: #d8a705;
    }

.home-content p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin: 0rem 0rem 1rem 0rem;
    }

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:  42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid #d8a705;
    border-radius: 50%; 
    font-size: 2rem;
    color: #d8a705; 
    margin: 0rem 1rem 0rem 0rem;
    transition: 0.3s ease;
}
.social-media a:hover {
    transform: scale(1.2) translateY(-5px);
    background: #d8a705;
    color: white;
    box-shadow:  0 0 3px  #b18907,
                 0 0 6px  #d8a705,
                 0 0 6px  #d8a705;
                
}
        /* about section code   */

.about {
    padding: 5px 7%;
    margin: 9% 30px 5% 30px;
    color: black;
    background-color: #d8a705;
    position: relative; /* very important */
    overflow: hidden; 
  
}
.leaf-decoration {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* behind content */
}
.leaf {
    position: absolute;
    width: 115px;
   
    filter: brightness(0.6) sepia(1) saturate(3) hue-rotate(10deg);
}
.leaf-1 {
      opacity: 0.15;
    top: -273px;
    right: 94px;
    transform: rotate(227deg) scale(1.2);
}

.leaf-2 {
      opacity: 0.22;
    top: -151px;
    right: 40px;
    transform: rotate(164deg) scale(2);
}

.leaf-3 {
        opacity: 0.15;
    top: -54px;
    right: 1236px;
    transform: rotate(188deg) scale(1.5);
}
.leaf-4 {
   opacity: 0.15;
    top: 108px;
    right: 1169px;
    transform: rotate(95deg) scale(2.3);}

     
.about h2 {
    font-size: 2.3rem;
    line-height: 0.7;  
  
}
.about h2:nth-of-type(1) {
 margin-bottom: 1.5rem;
}
.about-content{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 0px;
}

.underline {
    border-bottom: 5px solid #85680b;
    border-right: 5px solid #85680b;
    max-width: fit-content;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
    margin-left: -2rem;
    border-radius: 12%;
    background-color: #f7d770;

}
.underline p {
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.5;   
    text-align: justify;  
    justify-content: center;
    margin: 1.2rem 3rem;
    padding: 0.2rem;
    text-indent: 30px;
}

.education {
    margin-left: 20px;   
    border-bottom: 5px solid #85680b;
    border-right: 5px solid #85680b;
    max-width: 300px;
    padding: 2px 0px 15px 10px;
    margin-bottom: 12rem;
    margin-right: 33px;
    border-radius: 12%;
    background-color: #f7d770;
    justify-content: center;
}
.education h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
}
.education p {
    font-size: 1.1rem;
    line-height: 1.5;   
    text-align: justify;  
    justify-content: center;
    margin: 0.5rem;
    padding: 0.2rem;
}

.education .bxs-graduation{
     height: 1.2rem;
     width: 1.2rem;  
     padding: 0.5rem 2rem 0rem 0rem; 
     
}
span.code {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic;
    /* background-color: black; */
    color: white; 
    padding: 2px 6px;
    border-radius: 4px;
}


        /* projects section code   */

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.project-card img {
    width: 100%;
    max-width: 400px;
}

a {
    text-decoration: none;
    color: blue;
}

     /* footer section code  */

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    font-size: 1.2rem;
}